* {
    text-align: center;
  }
  

  header nav ul {
    list-style: none;
  }


  header nav ul li {
    display: inline-block;
    padding: 20px;
  }


  header nav ul li a {
    font-weight: bold;
    text-decoration: none;
  }

  footer {
      font-weight: bold;
      padding: 20px;
      position: static;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: antiquewhite;
  }
  nav {
    font-weight: bold;
    background-color: antiquewhite;
}
  