* {
    font-family: sans-serif;
  }
  

  header nav ul {
    list-style: none;
  }


  header nav ul li {
    display: inline-block;
    padding: 10px;
  }


  a {
    font-weight: bold;
    text-decoration: none;
    color: black;
  }

  footer {
      font-weight: bold;
      padding: 1px;
      position: static;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(255, 239, 218);
  }
  nav {
    font-weight: bold;
    background-color: antiquewhite;
}
  